.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newCardContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 70px;
  flex-direction: column-reverse;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: none;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  background-color: #48045f;
  color: #fff;
}

.btn {
  border-radius: 5px;
  width: 200px;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-weight: bold;
  text-align: center;
  border: 2px solid #a755c2;
  color: #48045f;
  background-color: #fff;
}

.text {
  width: 300px;
  margin-bottom: 25px;
}

.deleteBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #a755c2;
  color: #a755c2;
  background-color: #fff;
  font-weight: bold;
  margin: 10px 108px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

@media screen and (min-width: 1020px) {
  .newCardContainer {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 1110px;
    gap: 40px;
  }

  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .deleteBtn:hover {
    border: 2px solid #a755c2;
    color: #fff;
    background-color: #a755c2;
  }
}

@media screen and (min-width: 1250px) {
  .newCardContainer {
    gap: 70px;
  }
}
