.cardWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.newCardContainer {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  gap: 40px;
  flex-direction: column-reverse;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  border: none;
  padding: 20px 20px 30px 20px;
  border-radius: 5px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
}

.btn {
  border-radius: 5px;
  width: 200px;
  padding: 10px 20px;
  border: none;
  font-size: 20px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  font-weight: bold;
  background-image: linear-gradient(45deg, #ff6b6b, #56ab2f);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  text-align: center;
}

.text {
  width: 300px;
  margin-bottom: 25px;
}

.deleteBtn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #39ff14;
  color: #39ff14;
  background-color: #454545;
  font-weight: bold;
  margin: 10px 108px;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

@media screen and (min-width: 1020px) {
  .newCardContainer {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    width: 1000px;
  }
}

@media screen and (min-width: 1020px) {
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .deleteBtn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
}
