.searchForm {
  margin-top: 40px;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 5px;
}

.input {
  padding: 10px 20px;
  border-radius: 10px;
  border: 1px solid #454545;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #39ff14;
  color: #39ff14;
  background-color: #454545;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
}

.errorMessage {
  color: red;
  text-align: center;
  margin-bottom: 20px;
}

@media screen and (min-width: 1020px) {
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
}
