.container {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin-top: 40px;
}

.hero {
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px 20px 0px 0px;
  transition: all 0.3s ease;
}

.image {
  /* overflow: hidden; */
  border-radius: 20px 20px 0 0;
  width: 400px;
  height: 500px;
}

.heroInfo {
  width: 290px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.heroName {
  width: 400px;
  text-align: center;
  border: 1px solid #ff785a;
  box-shadow: 0px 0px 5px 5px #a755c2;
  margin-bottom: 20px;
  margin-top: 0px;
  color: #454545;
  position: absolute;
  left: 0;
  top: 92%;
  background-color: #fff;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #a755c2;
  color: #fff;
  background-color: #a755c2;
  font-weight: bold;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.3s ease;
  margin-top: 20px;
}

@media screen and (min-width: 1020px) {
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
  .hero:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
}
