.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  flex-direction: column;
}

.heroInfo {
  border-radius: 20px;
  max-width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

.infoContainer {
  display: flex;
  gap: 20px;
  flex-direction: column;
}

.details {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.text {
  text-align: end;
}

.miniHeading {
  font-weight: bold;
  font-size: 18px;
}

.btn {
  padding: 10px 20px;
  border-radius: 10px;
  border: 2px solid #a755c2;
  color: #a755c2;
  background-color: #fff;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
  text-wrap: nowrap;
  width: 300px;
}

.btnContainer {
  display: flex;
  gap: 15px;
  margin: 25px 0;
  justify-content: center;
  flex-direction: column;
}

.errorMessage {
  color: red;
  text-align: center;
}

@media screen and (min-width: 1020px) {
  .container {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .btnContainer {
    flex-direction: row;
    margin: 0 0 20px 0;
  }

  .btn {
    margin: 15px 0px 0px 0px;
    width: 120px;
  }

  .btn:hover {
    border: 2px solid #a755c2;
    color: #fff;
    background-color: #a755c2;
  }

  .heroInfo {
    min-width: 320px;
    max-width: 600px;
    height: 550px;
  }

  .heroInfo:hover {
    transform: translateY(-3px);
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
}
